h1 {
margin: 0;
}

path.background {
  fill: none;
  stroke-width: 2;	
  /*shape-rendering: crispEdges;*/
  opacity: 0.2;
}

path.foreground {
  fill: none;
  /*shape-rendering: crispEdges;*/
  stroke-width: 4;	
}



#FPContainer {
width:  1800px;
height: 600px;
}

#ForceVisualization {

border: 1px solid black;
width:  700px;
height: 700px;
float: left;
}

#ForceScatter
{

border: 1px solid black;
width:  500px;
height: 700px;
float: left;
}

#PopulationVisualizationStatic 
{

border: 1px solid black;
width:  295px;
height: 700px;
float: left;
}

#PopulationVisualization {

border: 1px solid black;
width:  295px;
height: 700px;
float: left;
}

.title{
	width: 345px;
	height: 30px;
	font-size:1.2em;
	text-align:center;
	font-weight:bold;
	margin-bottom:10px;
}
.container{
	width: 345px;
	height:560px;
}

#HistogramMatrixVisualization {

/*border: 1px solid black;*/
width:  1800px;
height: 300px;
float:left
}

#PCVisualization {

border: 1px solid black;
width:  1800px;
height: 700px;
float:left
}

.separator {
width:  1800px;
height: 10px;
float:left
}

.node.inactive {
    stroke: #fff;
    stroke-width: 2px;
	fill-opacity:0.4;
}

.node.active {
    stroke: rgb(255,0,0);
    stroke-width: 5px;
	fill-opacity: 1;
}
.link {
    stroke: #777;
    stroke-width: 1px;
}
.classpath:hover{
	fill:yellow;
}
.label{
	font-size:10px;
	font-weight:bold;
	-webkit-transition: font 1s; /* Safari */
    transition: font 1s;
}
.label:hover{
	font-size:16px;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

#HistogramMatrixVisualization text{
	font-size:14px;
}
#HistogramMatrixVisualization svg rect{
	stroke: #003300;
	stroke-width:2px;
	fill:#003300;
	fill-opacity:0.7;
}

